<!DOCTYPE html>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!--[if IE 9 ]><html class="no-js ie ie9" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ grav.language.getActive ?: theme_config.default_lang }}"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />
        <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento" rel="stylesheet" />
        {% block stylesheets %}
            {% do assets.addCss('theme://css/pure.min.css') %}
            {% if config.themes.purity.layout == '1' %}
            {% do assets.addCss('theme://css/layouts/business.css') %}
            {% else %}
            {% do assets.addCss('theme://css/layouts/blog.css') %}
            {% endif %}

            {% if config.themes.purity.menu == '1' %}
            {% do assets.addCss('theme://css/nav/vertical.css') %}
            {% elseif config.themes.purity.menu == '2' %}
            {% do assets.addCss('theme://css/nav/follow.css') %}
            {% elseif config.themes.purity.menu == '3' %}
            {% do assets.addCss('theme://css/nav/tucked.css') %}
            {% endif %}

            {% if config.themes.purity.style == '1' %}
            {% do assets.addCss('theme://css/contrast/light.css') %}
            {% endif %}     
            {% do assets.addCss('theme://css/font-awesome.min.css') %}
            {% do assets.addCss('theme://css/fonts.css') %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.add('jquery',101) %}
        {% endblock %}
        {{ assets.js() }}


        {% if site.calendar %}
           <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       {% endif %}

       {% if site.calendar %}
        <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({
                hideIfNoPrevNext: true
            });
        });
        </script>
    {% endif %}

    {% endblock head%}
</head>
<body>
    {% if config.themes.purity.layout == '0' %}
    <div id="layout" class="pure-g" role="banner">

            {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
    {% endif %}

    {% if config.themes.purity.layout == '1' %}
<header class="header">
        {% if config.themes.purity.menu == '0' %}
    <nav class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" role="navigation">
        {% include 'partials/navigation-top.html.twig' %}
        {% elseif config.themes.purity.menu == '3' %}
    <nav class="custom-menu-wrapper" id="menu" role="navigation">
        {% include 'partials/navigation-tabbed.html.twig' %}   
         {% else %}       
    <nav class="custom-wrapper pure-g" id="menu" role="navigation"> 
        {% include 'partials/navigation-respond.html.twig' %}  
        {% endif %}
    </nav>
</header>
    {% endif %}


        {% block body %}
{% if config.themes.purity.layout == '1' %}
<aside class="splash-container">
    <div class="splash">
        <h1 class="splash-head">{{ site.title|upper }}</h1>
        <p class="splash-subhead">
            {{ config.themes.purity.tagline }}
        </p>
    </div>
</aside>
<div class="content-wrapper">
{% endif %}
{% if config.themes.purity.layout == '0' %}
    <div class="content pure-u-1 pure-u-md-3-4">
        <div role="main">
{% endif %}

                {% block content %}
                    {% endblock %}
{% if config.themes.purity.layout == '0' %}
            </div>
        </div>
{% endif %}

    </div>
               {% endblock %}


{% block footer %}
    {% if config.themes.purity.footer == '1' and config.themes.purity.layout == '0' %}
    <footer class="footer" role="navigation">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
    </footer>
    {% endif %}

{% if config.themes.purity.layout == '1' %}

    <footer class="footer l-box is-center">
                <ul class="icons-inline" role="navigation">
                 <li><a href="#" class="fa fa-twitter"></a></li>
                 <li><a href="#" class="fa fa-facebook"></a></li>
                 <li><a href="#" class="fa fa-instagram"></a></li>
                 {% if config.plugins.feed.enabled %}
                 <li><a href="{{ feed_url }}.rss" class="fa fa-rss"></a></li>
                 {% endif %}
                <li><a href="#" class="fa fa-envelope"></a></li>
                <li> &copy; {{ "now"|date("Y") }} {{ site.author.name }}</li>
                </ul>        
    </footer>
{% endif %}

{% endblock %}


{% if config.plugins.simplesearch.enabled %}
<script type="text/javascript">
$(document).ready(function($){
    var input = $('[data-search-input]');

    input.on('keypress', function(event) {
        if (event.which == 13 && input.val().length > 3) {
            event.preventDefault();
            window.location.href = input.data('search-input') + '{{ config.system.param_sep }}' + input.val();
        }
    });
});
</script>
{% endif %}

    {% block bottom %}
        {{ assets.js('bottom') }}

    {% if config.themes.purity.layout == '1' %}
        {% if config.themes.purity.menu == '0' %}
        <script src="{{ url('theme://js/ui.js') }}"></script>
        {% elseif config.themes.purity.menu == '3' %}
        <script src="{{ url('theme://js/ui-tucked.js') }}"></script>  
         {% else %}       
        <script src="{{ url('theme://js/ui-respond.js') }}"></script>  
        {% endif %}
    {% endif %}
    
    {% endblock %}
</body>
</html>
