<!DOCTYPE html>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ grav.language.getActive ?: theme_config.default_lang }}"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />
        <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento" rel="stylesheet" />
        {% block stylesheets %}
            {% do assets.addCss('theme://css/pure.min.css') %}
            {% if config.themes.purity.layout == '1' %}
            {% do assets.addCss('theme://css/layouts/marketing.css') %}
            {% do assets.addCss('theme://css/layouts/gallery.css') %}
            {% do assets.addCss('theme://css/layouts/pricing.css') %}
            {% elseif config.themes.purity.layout == '2'%}
            {% do assets.addCss('theme://css/layouts/email.css') %}
            {% else %}
            {% do assets.addCss('theme://css/layouts/blog.css') %}
            {% endif %}
            {% if config.themes.purity.style == '1' %}
            {% do assets.addCss('theme://css/contrast/light.css') %}
            {% endif %}     
            {% do assets.addCss('theme://css/font-awesome.min.css') %}
            {% do assets.addCss('theme://css/fonts.css') %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.add('jquery',101) %}
        {% endblock %}
        {{ assets.js() }}


        <!--[if lte IE 8]><script src="{{ url('theme://js/html5shiv.js') }}"></script><![endif]-->

        {% if site.calendar %}
           <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       {% endif %}

       <!--[if lte IE 8]><script src="{{ url('theme://js/respond.min.js') }}"></script><![endif]-->

       {% if site.calendar %}
        <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({
                hideIfNoPrevNext: true
            });
        });
        </script>
    {% endif %}

    {% endblock head%}
</head>
<body>
    {% if config.themes.purity.layout == '0' %}
    <div id="layout" class="pure-g" role="banner">

            {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
    {% endif %}

    {% if config.themes.purity.layout == '1' %}
<header class="header">
    <nav class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" role="navigation">

    {% include 'partials/navigation-top.html.twig' %}

    </nav>
</header>
    {% endif %}


        {% block body %}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div role="main">

                {% block content %}
                    {% endblock %}

            </div>
    </div>
               {% endblock %}

{% if config.themes.purity.footer == '1' and config.themes.purity.layout == '0' %}
{% block footer %}
    <div class="footer" role="navigation">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
    </div>
{% endblock %}
{% endif %}
        </div>
    </div>
</div>


{% if config.plugins.simplesearch.enabled %}
<script type="text/javascript">
$(document).ready(function($){
    var input = $('[data-search-input]');

    input.on('keypress', function(event) {
        if (event.which == 13 && input.val().length > 3) {
            event.preventDefault();
            window.location.href = input.data('search-input') + '{{ config.system.param_sep }}' + input.val();
        }
    });
});
</script>
{% endif %}

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}
</body>
</html>
