<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />

        {% block stylesheets %}
            {% do assets.addCss('theme://css/pure.min.css') %}
            {% do assets.addCss('theme://css/layouts/blog.css') %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.add('jquery',101) %}
        {% endblock %}
        {{ assets.js() }}

        <!--[if lte IE 8]><script src="{{ url('theme://js/html5shiv.js') }}"></script><![endif]-->

        {% if site.calendar %}
           <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       {% endif %}

       <!--[if lte IE 8]><script src="{{ url('theme://js/respond.min.js') }}"></script><![endif]-->

       {% if site.calendar %}
        <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({
                hideIfNoPrevNext: true
            });
        });
        </script>
    {% endif %}

    {% endblock head%}
</head>
<body>
<div id="layout" class="pure-g">
            {% block sidebar %}
            {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
   
        {% block body %}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
           <div class="posts">
                <h1 class="content-subhead">Recent Posts</h1>
                {% block content %}
                    {% endblock %}
                {% endblock %}
                </div>
            </div>
    </div>

{% if config.plugins.simplesearch.enabled %}
<script type="text/javascript">
$(document).ready(function($){
    var input = $('[data-search-input]');

    input.on('keypress', function(event) {
        if (event.which == 13 && input.val().length > 3) {
            event.preventDefault();
            window.location.href = input.data('search-input') + '{{ config.system.param_sep }}' + input.val();
        }
    });
});
</script>
{% endif %}
</body>
</html>
