	{% set snipcart_image = page.media.images|first %}
	<div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2><a href="{{ page.url }}">{{ page.header.category }}</a></h2>

                    <span class="pricing-table-price">
                        <time class="published" datetime="{{p.date|date("Y-m-d")}}">{{ p.date|date("M j, Y")}}</time>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>                                            {% if snipcart_image %}
                                            <a href="{{page.url}}" class="image fit">{{ snipcart_image.cropResize(300,300).html(page.header.category,'snipcart-thumb-image') }}</a>
                                            {% endif %}   </li>
                </ul>

                <button class="button-choose pure-button" onclick="window.location='{{page.url}}'">Choose</button>
            </div>
        </div>